.home-container{
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #073980;
}

.home-content{
  margin: auto;
  width: 30rem;
  background-color: white;
  border-radius: 0.3rem;
  padding: 1rem;
  
}

.header{
  display: flex;
  flex-grow: 1;
  width: 100%;
  height: 1.5rem;
  align-items: center;
  justify-content: space-between;
}
.active-state{
  color: #073980;
  background-color: #bfdbfe;
  border-radius: 0.3rem;
  padding: 0.2rem;
  margin: 0rem 0.5rem;
  font-size: small;
}

.canceled-state{
  color: #dc2626;
  background-color: #fecaca;
  border-radius: 0.3rem;
  padding: 0.2rem;
  margin: 0rem 0.5rem;
  font-size: small;
}
.header h4{
  margin: 0;
}
.header button{
  border: none;
  color: #073980;
  background-color: white;
}

.footer p{
  background-color: #e5e7eb;
  border-radius: 0.2rem;
  padding: 0.5rem;
}

.change-btn{
  display: block;
  border: 1px solid #073980;
  color: #073980;
  background-color: white;
  border-radius: 0.2rem;
  padding: 0.5rem;
  margin-top: 1rem;
}

.sub-desc{
  font-size: small;
  color: #9ca3af;
  margin-top: 0;
}

.footer-text{
  font-size: small;
}

.plan-heading{
  margin-bottom: 0;
}